@use "global" as *;

.contact {
  position: relative;
  // セクション全体にシャドウがついている。このクラスでbox-shadowを指定しても効果なし
  filter: drop-shadow(0 rem(4) rem(4) rgba(0, 0, 0, 0.25));
  @include mq(md) {
    filter: none;
  }
}

.contact::before {
  content: "";
  position: absolute;
  top: rem(-26);
  right: rem(15);
  width: rem(109);
  height: rem(50);
  background-image: url(../images/common/contact-fish.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  @include mq(md) {
    top: rem(-38);
    right: calc(50% - min(48%, 41.975rem));
    width: rem(301);
    height: rem(138);
    background-image: url(../images/common/contact-goldfish.svg);
  }
}

.contact__inner.inner {
  padding: 0 rem(40);
  @include mq(md) {
    padding: 0 rem(25);
  }
}

.contact__wrapper {
  @include mq(md) {
    display: flex;
    padding: rem(80) rem(50);
    box-shadow: rem(4) rem(4) rem(10) rgba($color: $black, $alpha: 25%);
  }
}

.contact__info {
  @include mq(md) {
    width: 52.96%;
    padding-right: rem(82);
  }
}

.contact__inquiry {
  margin-top: rem(40);
  @include mq(md) {
    width: 47.04%;
    padding-left: rem(81);
    border-left: rem(1) solid $greenaccent;
    margin-top: 0;
  }
}

.contact__logo {
  border-bottom: rem(1) solid $greenaccent;
  padding-bottom: rem(6);
  @include mq(md) {
    padding-bottom: rem(8);
  }
}

.contact__logo-link {
  display: block;
  width: rem(174);
  aspect-ratio: 174 / 65;
  margin: auto;
  @include mq(md) {
    width: rem(200);
    aspect-ratio: 200 / 75;
  }
}

.contact__access {
  margin-top: rem(16);
  @include mq(md) {
    margin-top: rem(24);
    display: flex;
    justify-content: space-between;
  }
}

.contact__access-map {
  // width: rem(295);
  // height: rem(160);
  aspect-ratio: 295 / 160;
  margin-top: rem(16);
  @include mq(md) {
    width: rem(273);
    height: rem(148);   // これがないと地図の大きさは変わらないが、下の領域が少し下へズレる
    aspect-ratio: 273 / 148;
    margin-top: 0;
  }
}

.contact__access-map iframe {
  width: 100%;
  height: 100%;
}

.contact__text {
  font-size: rem(14);
  font-weight: $normal;
  color: $greenaccent;
  text-align: center;
  margin-top: rem(8);
}

.contact__btn {
  text-align: center;
  margin-top: rem(40);
}
